<section class="corona">
    <div class="corona_nl">
        <div class="location">
            <h2><span id="location_nl">Netherlands</span> <span>(</span><span id="index_nl"></span><span>)</span></h2>
        </div>
        <div class="corona_data">
            <div class="confirmed">
                <p>Confirmed</p>
                <p id="confirmed_nl"></p>
            </div>
            <div class="dead">
                <p>Dead</p>
                <p id="dead_nl"></p>
            </div>
            <div class="recovered">
                <p>Recovered</p>
                <p id="recovered_nl"></p>
            </div>
        </div>
    </div>

    <div class="corona_top3">
        <h2>Top 3 Of Confirmed Cases</h2>
        <div class="top3_countries" id="top3_countries">

        </div>
    </div>
</section>