        <footer>
            <ul>
                <li>Corona Data Provided By: <a href="https://www.trackcorona.live" target="_blank">TrackCorona</a></li>
                <li>|</li>
                <li>&copy; Marjolein Aardewijn</li>
            </ul>
        </footer>
    </body>
</html>