<section class="tweets">
    <h2>Tweets</h2>
    <div class="select-hashtag">
        <label> Kies een andere hashtag:
            <div class="dropdown">
                <select id="hashtags" class="dropdown-select">
                    <option value="#Daslief">Daslief</option>
                    <option value="#StaySafe">StaySafe</option>
                    <option value="#StayHealthy">StayHealthy</option>
                    <option value="#StayPositve">StayPositve</option>
                    <option value="#SamenTegenCorona">SamenTegenCorona</option>
                    <option value="#ZorgVoorElkaar">ZorgVoorElkaar</option>
                    <option value="#AllYouNeedIsLove">AllYouNeedIsLove</option>
                </select>
            </div>
        </label>
    </div>

    <div class="tweets-wrapper" id="tweets">

    </div>
</section>