<section class="tweets">
    <h2>Tweets</h2>
    <div class="select-hashtag">
        <label> Kies een andere hashtag:
            <div class="dropdown">
                <select id="hashtags" class="dropdown-select">
                    <option value="#daslief">Daslief</option>
                    <option value="#staysafe">Staysafe</option>
                    <option value="#stayhealthy">Stayhealthy</option>
                    <option value="#staypositve">Staypositve</option>
                    <option value="#samentegencorona">Samentegencorona</option>
                    <option value="#zorgvoorelkaar">Zorgvoorelkaar</option>
                    <option value="#allyouneedislove">Allyouneedislove</option>
                </select>
            </div>
        </label>
    </div>

    <div class="tweets-wrapper" id="tweets">

    </div>
</section>