/* Chat page */

.chat.page {
    display: none;
}

/* Messages */

.chatArea {
    height: 100%;
    padding-bottom: 60px;
}

.messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;

    &.typing .messageBody {
        color: gray;
    }
}

.username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

/* Input */

.messageInput {
    border: 10px solid #000;
    bottom: 0;
    height: 60px;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 100%;
}

.message {
    display: flex !important;
    align-items: flex-start;

    .time {
        padding-top: 0.1rem;
        padding-right: 0.5rem;
    }
}
