<%- include('partials/head') %>

<header>
    <h1><span>COVID-19</span><span id="hashtag-title">#Daslief</span></h1>
</header>

<main>
    <%- include('partials/corona-data') %>
    <%- include('partials/tweets') %>
</main>

<%- include('partials/footer') %>