html,
body,
input {
    font-family: $font-family;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

body {
    color: $dark;
    font-size: $font-size;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}
