html,
body,
input {
    font-family: $font-family;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

body {
    color: $dark;
    font-size: $font-size;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

th {
    font-weight: 900;
}

.messages {
    font-size: 150%;
}

.messageInput {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

.time {
    font-size: 12px;
}
